# Class 02 Add

## [Assignment Review-pdf](http://localhost:8888/files/%EC%88%AD%EC%8B%A4%EB%8C%80/2023_1%ED%95%99%EA%B8%B0/DL_2023/class01_asgn1/%EB%B3%91%ED%95%A9%EB%90%A8.pdf)

## [Assignment Review-map](http://localhost:8888/notebooks/%EC%88%AD%EC%8B%A4%EB%8C%80/2023_1%ED%95%99%EA%B8%B0/t81_558_deep_learning-master_2023/Asgn01_rev-map.ipynb)

## Python  
### Operator

In [ ]:
# Modulo
5 % 3 # remainder 2

In [ ]:
5 // 3 # quotient 1

### Math Functions

In [ ]:
from math import * 

print("math.pi = ", math.pi) 
print("abs(-5) = ", abs(-5))
print("math.exp(2)",math.exp(2)) 
print("math.pow(2, 5) = ", math.pow(2, 5)) 
print("math.sqrt(24)  = ", math.sqrt(24))
print("math.log(10) = ",math.log(10))
print("math.log2(8) = ", math.log2(8))
print("math.log10(100) = ", math.log10(100))
print("math.e = ",math.e)  # Output: 2.718281828459045
print("math.ceil(2.7) = ", math.ceil(2.7)) 
print("math.floor(2.7) = ", math.floor(2.7)) 
print("round(2.7) = ", round(2.7)) 
print("floor(2.7) = ",floor(2.7)) 
print("ceil(2.7) = ", ceil(2.7)) 
print("sqrt(16) = ",sqrt(16))

In [ ]:
from random import *
print("random() = ",random()) # 0 ~ 1 
print("randrange(1, 46) = ",randrange(1, 46)) # 1 ~ 45
print("randint(1, 46) = ",randint(1, 46)) # 1 ~ 46

### String

In [ ]:
python = "Python is Amazing"

print(python.lower()) # python is amazing
print(python.upper()) # PYTHON IS AMAZING
print(python[0].isupper()) # True : Check if the value of the 0th index is uppercase
print(len(python)) # 17 : The total length of the string, including spaces 
print(python.replace("Python", "Java")) # Java is Amazing

### index() and find()

In [ ]:
index = python.index("n") # Index of n first discovered
print(index) # 5 : n of Python
index = python.index("n", index + 1) # The first index of n found after the 6th index 
print(index) # 15 :  n of Amazing 

find = python.find("n") # Index of n first discovered
print(find) # 5 : n of Python
find = python.find("n", find + 1) # The first index of n found after the 6th index  
print(find) # 15 : n of Amazing

In [ ]:
print(python.index("Java")) # An error occurs because Java is missing, and the program terminates
print(python.find("Java")) # If Java is not present, it returns (output) -1 and continues the program

### String Format

print("string **%d** string" % **decimal**)

print("string **%c** string" % **character**)

print("string **%s** string" % **string and decimal**)

In [ ]:
# Method 1

print("I am %d years old." %20) # I am 20 years old
print("I like %s" %"python") # I like python
print("Apple starts with %c." %"A") # Apple starts with A

print("I am %s years old." % 20) # i am 20 years old (%s works for int)

print("I like %s and %s." % ("blue", "red")) # I like blue and red.

In [ ]:
# Method 2

print("I am {} years old.".format(20)) # I am 20 years old
print("I like {} and  {}.".format("blue", "red")) # I like blue and red
print("I like {0} and {1}.".format("blue", "red")) # I like blue and red
print("I like {1} and {0}.".format("blue", "red")) # I like blue and red

### Standard input/output

In [76]:
print("Python", "Java") # Python Java
print("Python" + "Java") # PythonJava
print("Python" , "Java", sep = ",") # Python,Java
print("Python" , "Java", "Pytorch", sep = " vs ") # Python vs Java vs Pytorch
print("Python" , "Java", "Pytorch", sep = " vs ", end = "?") # Python vs Java vs Pytorch
print("Python" , "Java", "Pytorch", sep = " vs ") # Python vs Java vs PytorchPython vs Java vs Pytorch

Python Java
PythonJava
Python,Java
Python vs Java vs Pytorch
Python vs Java vs Pytorch?Python vs Java vs Pytorch

In [81]:
for num in range(1,20):
    print("Your waiting number : " + str(num))
#     print("Your waiting number : " + str(num).zfill(3))

Your waiting number : 1
Your waiting number : 2
Your waiting number : 3
Your waiting number : 4
Your waiting number : 5
Your waiting number : 6
Your waiting number : 7
Your waiting number : 8
Your waiting number : 9
Your waiting number : 10
Your waiting number : 11
Your waiting number : 12
Your waiting number : 13
Your waiting number : 14
Your waiting number : 15
Your waiting number : 16
Your waiting number : 17
Your waiting number : 18
Your waiting number : 19

In [84]:
scores = {"Math": 20, "Physics": 50, "Coding": 100}
for sub, scor in scores.items():
#     print(sub,scor)
    print(sub.ljust(8),str(scor).rjust(4), sep =":"    )

Math    :  20
Physics :  50
Coding  : 100

In [ ]:
print("{0}".format(500)) # 500
print("{0: >10}".format(500)) #        500
print("{0:#>10}".format(500)) # #######500
print("{0: >+10}".format(500)) #       +500
print("{0:#<10}".format(500)) # 500#######
print("{0:#<10}".format(-500)) # 500#######

print("{0:,}".format(50000000)) # 50,000,000
print("{0:+,}".format(50000000)) # +50,000,000
print("{0:,}".format(50000000)) # +50,000,000

print("{0:f}".format(5/3)) # 1.666667
print("{0:.2f}".format(5/3)) # 11.67
print("{0:04d}".format(100)) # 0100
print("{0: 4d}".format(100)) #  100

In [126]:
a = list(range(1,30+1))
print(a) # list
print(*a, sep=" ") # not list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [159]:
st_data = open("./data/students_roster_2023DL.csv", "r", encoding="utf-8")
# print(st_data.read())
st_lines = st_data.readlines()
print(st_lines)
# print(st_data)

[',Id,Name,sex,country,city,major,course,sem,email,ph,hobby,age\n', '0,110236,"Loc, Nguyen Tai",M,Vietnam,Seoul,info tech,master,1st,nguyentailoc1996@gmail.com,010-5850-0127,listen to music,28\n', '1,1102344011,"Yoon, Tae hwan",M,Korea,Suwon,com sci,master,1st,taehwanyun0@gmail.com,010-4793-1046,Trip,26\n', '2,1002249003,"Yu, Chushi",F,China,Jinhua,electronic engineering,doctor,3rd,csyu@soongsil.ac.kr,010-5008-9395,sports,28\n', '3,1102244009,Kayange Hyston,M,Malawi,Blantyre,Computer Science,Master,2nd,hyston@soongsil.ac.kr,010-2783-1710,Video Games,24\n', '4,1102134004,"Mo, Hye-Lim",F,Korea,Seoul,Bioinformatics,Intergrated,5st,mohyelim7@gmail.com,010-5113-9035,suwimming,34\n', "5,1102244010,Kumar Avinash,M,Pakistan,Larkana,Computer Science,Master's,2nd,kumaravinashsw44@gmail.com,010-2133-9128,Reading or Programming,24\n"]

In [160]:
st_lines[1]

'0,110236,"Loc, Nguyen Tai",M,Vietnam,Seoul,info tech,master,1st,nguyentailoc1996@gmail.com,010-5850-0127,listen to music,28\n'

In [161]:
# st_lines = st_data.readlines()
for line in st_lines:
    print(line)

,Id,Name,sex,country,city,major,course,sem,email,ph,hobby,age

0,110236,"Loc, Nguyen Tai",M,Vietnam,Seoul,info tech,master,1st,nguyentailoc1996@gmail.com,010-5850-0127,listen to music,28

1,1102344011,"Yoon, Tae hwan",M,Korea,Suwon,com sci,master,1st,taehwanyun0@gmail.com,010-4793-1046,Trip,26

2,1002249003,"Yu, Chushi",F,China,Jinhua,electronic engineering,doctor,3rd,csyu@soongsil.ac.kr,010-5008-9395,sports,28

3,1102244009,Kayange Hyston,M,Malawi,Blantyre,Computer Science,Master,2nd,hyston@soongsil.ac.kr,010-2783-1710,Video Games,24

4,1102134004,"Mo, Hye-Lim",F,Korea,Seoul,Bioinformatics,Intergrated,5st,mohyelim7@gmail.com,010-5113-9035,suwimming,34

5,1102244010,Kumar Avinash,M,Pakistan,Larkana,Computer Science,Master's,2nd,kumaravinashsw44@gmail.com,010-2133-9128,Reading or Programming,24

In [163]:
st_data.close()

In [165]:
import pickle
st_file = open("./data/st_line.pickle", "wb")
pickle.dump(st_lines,st_file)
st_file.close()

In [177]:
st_file_r = open("./data/st_line.pickle", "rb")
st = pickle.load(st_file_r)
# print(pickle.load(st_file_r))
print(st[1])
st_file_r.close()

0,110236,"Loc, Nguyen Tai",M,Vietnam,Seoul,info tech,master,1st,nguyentailoc1996@gmail.com,010-5850-0127,listen to music,28

In [251]:
list = []
with open("./data/students_roster_2023DL.txt", "w", encoding="utf-8") as fw:
    with open("./data/students_roster_2023DL.csv", "r") as f:
        while True:
            line = f.readline()
            if not line: # eof
                break
#             print(line[2:], file=fw)
            list.append(line)
    for l in list[1:]:
        print(l, end="\n",file = fw)

### JSON (JavaScript Object Notation)

### Seoul Open Data Square : http://data.seoul.go.kr/dataList/OA-2734/F/1/datasetView.do

In [ ]:
import folium
import pandas as pd
import numpy as np
import requests
import json

m = folium.Map(location=[40, -95], zoom_start=4)
url = (
    "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data"
)
state_geo = f"{url}/us-states.json"
r = requests.get(state_geo)
c = r.content
state_geo = json.loads(c)
state_geo

In [ ]:
state_unemployment = f"{url}/US_Unemployment_Oct2012.csv"
state_data = pd.read_csv(state_unemployment)

# type(state_data)

folium.Choropleth(
    geo_data=state_geo,
    name="choropleth",
    data=state_data,
    columns=["State", "Unemployment"],
    key_on="feature.id",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=.1,
    legend_name="Unemployment Rate (%)",
).add_to(m)

folium.LayerControl().add_to(m)

m

In [ ]:
korea =requests.get("https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2013/json/skorea_municipalities_geo_simple.json")
korea_con = korea.content
korea_geo = json.loads(korea_con)
korea_map = folium.Map(
    location = ['36.38', '126.6'], #127′51″, 북위 36′38
    zoom_start = 8,
    tiles = tiles[1],
    width = 1000,
    height = 1000,
)
korea_map

### Save as Excel and CSV file

In [ ]:
names.to_csv('../output/scientist_names_series.csv')

In [ ]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [ ]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [ ]:
names_df = names.to_frame() #frame 형식으로

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')